{% extends "base.html" %}

{% block content %}
<h1 class="text-center text-xl font-bold">Dashboard</h1>
<div class="mt-4 flex space-x-4">
    <div class="bg-green-500 text-white p-4 rounded shadow-md">
        <h2 class="text-2xl font-bold">Total Data</h2>
        <p class="text-xl">{{ total_data }}</p>
    </div>
    <div class="bg-blue-500 text-white p-4 rounded shadow-md">
        <h2 class="text-2xl font-bold">Total Transformed Data</h2>
        <p class="text-xl">{{ total_transformed_data }}</p>
    </div>
</div>
<div
    class="flex bg-white rounded-lg shadow-lg flex-col items-center justify-center w-24">
    <h2 class="text-xl font-bold mb-4 text-center">Cluster Terbaik {{best_cluster }}
        - 10</h2>
    <div class="w-32 mb-8">{{ graph_pie|safe }}</div>
</div>
{% endblock %}
